@import url("http://fonts.googleapis.com/css?family=Inconsolata");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: 'Inconsolata';
  background-color: #faf9f0;
  color: #444;
}
header {
  font-family: 'Inconsolata';
  padding: 50px 10px;
  color: #fff;
  font-size: 45px;
  text-align: center;
  background-color: #41b6e6;
  border-bottom: 3px solid #1888b6;
  text-shadow: 0px -1px 0px #1888b6;
}
.container {
  width: 800px;
  margin: 40px auto;
  overflow: hidden;
}
.main-content {
  float: left;
  width: 800px;
}
.main-content p {
  margin-bottom: 20px;
}
.jobtable {
  width: 1000px;
  font-size: 18px;
  font-family: Inconsolata;
}
.jobtable td {
  vertical-align: top;
  border-top: 1px dotted #000;
}
.jobtable td.createTS {
  width: 100px;
}
.jobtable td.source {
  width: 200px;
  padding-right: 10px;
}
.transcodingtable {
  color: #000;
}
.transcodingtable thead {
  color: #000;
}
.transcodingtable td {
  border-top: none;
}
.transcodingtable td.format {
  width: 40px;
}
.transcodingtable td.progress {
  width: 30px;
  text-align: right;
}
.transcodingtable td.status {
  width: 100px;
  text-align: left;
  padding-left: 10px;
}
.transcodingtable td.message {
  width: 400px;
}
.sidebar {
  float: left;
  width: 200px;
}
.sidebar .widget {
/*
     * Note the lack of vendor
     * prefixes here. Nib will
     * add them for us
     */
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 20px;
  background-color: #faf9f0;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.sidebar .widget h1 {
  font-family: 'Inconsolata';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.sidebar .widget p {
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
}
table {
  width: 100%;
}
footer {
  width: 800px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
